@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Slabo+27px');

body {
    font-family: 'IM Fell English SC', Helvetica, Arial, sans-serif;
    background: linear-gradient(to top, black, white);
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 8vw;
    color: rgb(78, 216, 51);
    text-shadow: 5px 5px black;
    margin: auto;
}

form {
    text-align: center;
}

input {
    color: rgb(192, 25, 25);
    border: 5px white;
    border-radius: 35px;
    outline: none;
    padding: 4px 10px;
    font-size: 2vw;
    font-family: 'IM Fell English SC', Helvetica, Arial, sans-serif;
}
input[type="text"]#actor {
    width: 300px;
}
input[type="text"]#movie {
    width: 425px;
}

input::placeholder {
    color: rgb(77, 75, 75);
}

button {
    background-color: rgba(0, 0, 0, 0.966);
    border-radius: 10px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 1vw;
    text-align: center;
    font-size: 1.75vw;
    height: 3vw;
    width: 10vw;
    font-family: 'IM Fell English SC', Helvetica, Arial, sans-serif;
    
}
button:hover, input:hover {
    box-shadow: 0px 5px 20px 5px #dad7d78f;
}

#flicks {
    color: white;
    text-align: center;
    background-color: rgba(136, 27, 0, 0);
    height: 100%;
    width: 100%;
    margin: 2px;
    border-radius: 10px;
    padding: 5px;
    font-size: 30px;
    margin: auto;
}

ul{
    list-style-type: none;
}
li {
    font-size: 2.5vw;
    margin: auto;
}

.favorite {
  
    color: rgb(252, 228, 10);
    text-shadow: 3px 1px black;
    
    
}

.delete {
    font-size: 1.15vw;
    background-color: red;
    height: 2.5vw;
    width: 3vw;
   
}

.fav {
    font-size: 1.5vw;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    height: 2.7vw;
    width: 2.7vw;
    border-radius: 100%;
}

button.favOn {
    font-size: 1.5vw;
    color: rgb(224, 206, 45);
    background-color: rgba(255, 255, 255, 0);
    height: 2.7vw;
    width: 2.7vw;
    border-radius: 100%;
}
span.favorite{
    display: none;
}